**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/out
**/.env
**/Thumbs.db
**/.DS_Store
**/infra
**/docs
**/media
LICENSE
README.md
SECURITY.md
SUPPORT.md
Gemfile
_config.yml
index.md
